#map {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.map-container {
    padding: 20px;
    position: absolute;
    width: 70%;
    height: 70%;
}
